<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
        <p class="centered"><img src="/receptionist/img/fr-05.jpg" class="img-circle" width="80"></p>
        <h5 class="centered"><%=`${user.firstName.toUpperCase()} ${user.lastName.toLowerCase()}`%></h5>
        <li class="mt">
          <a class="active" href="/receptionist/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
            </a>
        </li>
        <li>
          <a href="/receptionist/patient/new">
            <i class="fa fa-book"></i>
            <span>Register Patient</span>
            </a>
        </li>
        
      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>